<div class="data-base">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="employeeModalLabel">{{modalCategory}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form class="personal-form" [formGroup]="employeeDetailsForm">
            <div class="input-div">
                <label for="firstname" class="form-control-label">First name</label>
                <input type="text" pattern="[a-zA-Z\s]+" class="form-control" name="firstname" formControlName="firstname" id="firstname">
            </div>
            <div class="input-div">
                <label for="lastname" class="form-control-label">Last name</label>
                <input type="text" pattern="[a-zA-Z\s]+" class="form-control" name="lastname" formControlName="lastname" id="lastname">
            </div>
            <div class="input-div">
                <label for="lastname" class="form-control-label">Joining date</label>
                <input type="date" class="form-control" name="joindate" formControlName="joindate" id="joindate">
            </div>
            <div class="input-div">
                <label for="age" class="form-control-label">Age</label>
                <input type="text" pattern="^[0-9]{2}$" class="form-control" name="age" formControlName="age" id="age">
            </div>
            <div class="input-div">
                <label for="email" class="form-control-label">Email</label>
                <input type="email" class="form-control" name="email" formControlName="email" id="email">
            </div>
            <div class="input-div">
                <label for="gender" class="form-control-label">Gender</label>
                <div class="text-center">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" formControlName="gender"
                            id="radiomale" value="male">
                        <label class="form-check-label" for="radiomale">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" formControlName="gender"
                            id="radiofemale" value="female">
                        <label class="form-check-label" for="radiofemale">Female</label>
                    </div>
                </div>
            </div>
            <div class="input-div">
                <label for="contact" class="form-control-label">Contact Number</label>
                <input type="text" pattern="^[0-9]{10}$" class="form-control" name="contact" formControlName="contact" id="contact">
            </div>
            <div class="input-div">
                <label for="address" class="form-control-label">Address</label>
                <input type="text" name="address" formControlName="address" class="form-control" id="address">
            </div>
            <div class="input-div full-div">
                <label for="address" class="form-control-label">Position</label>
                <input type="text" name="designation" formControlName="designation" class="form-control" id="designation">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
        <button type="submit" (click)="saveDetails()" data-bs-dismiss="modal" class="btn" *ngIf="modalCategory=='Edit Details'">Save changes</button>
    </div>
</div>